<%= render "shared/heading" %>
<h1>Blog Index</h1>
<% @blogs.each do |blog| %>
  <%= link_to blog.title, blog_path(blog)  %>
  <p><%= blog.content %></p> 
<% end %>

<%= link_to "Create a Post", new_blog_path %>