// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$air-blue: rgba(1, 160, 166, 0.51);

// Personalized colour scheme
$teal: #028c91;
$pink: #f9b0a1;
$light-pink: #faab85;
$yellow: #f4d270;

// body colours
$body-white: #fffdfc;

// font colours
$paragraph: #868686;
