.display-flex-box{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.centering{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-height{
  height: 35vh;
  width: 50%;
  margin: auto;
  text-align: center;
}

#title-size{
  font-size: 78px;
  line-height: 87px;
  letter-spacing: 0.2em;
  color: $teal;
}














