<div class="container-wave">
  <div class="wave"></div>
</div>

<div class="footer-container">
  <div class="footer-title">
    <svg width="100vw" height="23" viewBox="0 0 1369 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 10.5H484" stroke="#F9B0A1" stroke-width="6"/>
      <path d="M885 10H1368.5" stroke="#F9B0A1" stroke-width="6"/>
      <path d="M553.251 16.36C553.251 15.72 553.011 15.2 552.531 14.8C552.071 14.4 551.481 14.04 550.761 13.72C550.061 13.38 549.291 13.04 548.451 12.7C547.631 12.34 546.861 11.91 546.141 11.41C545.441 10.89 544.851 10.25 544.371 9.49C543.911 8.73 543.681 7.76 543.681 6.58C543.681 5.56 543.851 4.68 544.191 3.94C544.531 3.18 545.011 2.55 545.631 2.05C546.271 1.55 547.021 1.18 547.881 0.939999C548.741 0.699999 549.701 0.579999 550.761 0.579999C551.981 0.579999 553.131 0.689999 554.211 0.91C555.291 1.11 556.181 1.41 556.881 1.81L555.591 5.26C555.151 4.98 554.491 4.73 553.611 4.51C552.731 4.27 551.781 4.15 550.761 4.15C549.801 4.15 549.061 4.34 548.541 4.72C548.041 5.1 547.791 5.61 547.791 6.25C547.791 6.85 548.021 7.35 548.481 7.75C548.961 8.15 549.551 8.52 550.251 8.86C550.971 9.2 551.741 9.55 552.561 9.91C553.401 10.27 554.171 10.71 554.871 11.23C555.591 11.73 556.181 12.36 556.641 13.12C557.121 13.86 557.361 14.79 557.361 15.91C557.361 17.03 557.171 18 556.791 18.82C556.431 19.62 555.911 20.29 555.231 20.83C554.571 21.37 553.761 21.77 552.801 22.03C551.861 22.29 550.821 22.42 549.681 22.42C548.181 22.42 546.861 22.28 545.721 22C544.581 21.72 543.741 21.44 543.201 21.16L544.521 17.65C544.741 17.77 545.021 17.9 545.361 18.04C545.721 18.18 546.121 18.31 546.561 18.43C547.001 18.55 547.461 18.65 547.941 18.73C548.441 18.81 548.951 18.85 549.471 18.85C550.691 18.85 551.621 18.65 552.261 18.25C552.921 17.83 553.251 17.2 553.251 16.36ZM574.049 17.35H567.599L566.009 22H561.899L569.459 0.849999H572.489L580.049 22H575.729L574.049 17.35ZM568.649 14.05H573.149L571.589 9.37L570.959 6.07H570.809L570.179 9.4L568.649 14.05ZM585.463 0.999999C585.883 0.939999 586.353 0.889999 586.873 0.849999C587.413 0.809999 587.963 0.78 588.523 0.76C589.083 0.739999 589.623 0.729998 590.143 0.729998C590.683 0.709999 591.163 0.699999 591.583 0.699999C593.443 0.699999 595.033 0.959999 596.353 1.48C597.673 2 598.743 2.73 599.563 3.67C600.383 4.61 600.983 5.73 601.363 7.03C601.743 8.33 601.933 9.76 601.933 11.32C601.933 12.74 601.753 14.11 601.393 15.43C601.033 16.75 600.433 17.92 599.593 18.94C598.753 19.96 597.643 20.78 596.263 21.4C594.903 22.02 593.213 22.33 591.193 22.33C590.873 22.33 590.443 22.32 589.903 22.3C589.383 22.28 588.833 22.25 588.253 22.21C587.693 22.19 587.153 22.16 586.633 22.12C586.113 22.1 585.723 22.07 585.463 22.03V0.999999ZM591.913 4.36C591.473 4.36 591.023 4.37 590.563 4.39C590.123 4.41 589.793 4.44 589.573 4.48V18.55C589.653 18.57 589.783 18.59 589.963 18.61C590.163 18.61 590.373 18.62 590.593 18.64C590.813 18.64 591.023 18.65 591.223 18.67C591.423 18.67 591.573 18.67 591.673 18.67C592.833 18.67 593.793 18.47 594.553 18.07C595.333 17.65 595.943 17.1 596.383 16.42C596.843 15.74 597.163 14.96 597.343 14.08C597.523 13.18 597.613 12.26 597.613 11.32C597.613 10.5 597.533 9.68 597.373 8.86C597.213 8.02 596.913 7.27 596.473 6.61C596.053 5.95 595.473 5.41 594.733 4.99C593.993 4.57 593.053 4.36 591.913 4.36ZM620.277 13.21H612.597V22H608.487V0.999999H612.597V9.55H620.277V0.999999H624.387V22H620.277V13.21ZM641.978 17.35H635.528L633.938 22H629.828L637.388 0.849999H640.418L647.978 22H643.658L641.978 17.35ZM636.578 14.05H641.078L639.518 9.37L638.888 6.07H638.738L638.108 9.4L636.578 14.05ZM658.612 11.05L656.962 7.75H656.812L657.292 11.05V22H653.392V0.849999H656.392L664.342 12.04L665.932 15.25H666.082L665.602 12.04V0.999999H669.502V22.15H666.502L658.612 11.05ZM687.059 17.35H680.609L679.019 22H674.909L682.469 0.849999H685.499L693.059 22H688.739L687.059 17.35ZM681.659 14.05H686.159L684.599 9.37L683.969 6.07H683.819L683.189 9.4L681.659 14.05ZM717.403 16.36C717.403 15.72 717.163 15.2 716.683 14.8C716.223 14.4 715.633 14.04 714.913 13.72C714.213 13.38 713.443 13.04 712.603 12.7C711.783 12.34 711.013 11.91 710.293 11.41C709.593 10.89 709.003 10.25 708.523 9.49C708.063 8.73 707.833 7.76 707.833 6.58C707.833 5.56 708.003 4.68 708.343 3.94C708.683 3.18 709.163 2.55 709.783 2.05C710.423 1.55 711.173 1.18 712.033 0.939999C712.893 0.699999 713.853 0.579999 714.913 0.579999C716.133 0.579999 717.283 0.689999 718.363 0.91C719.443 1.11 720.333 1.41 721.033 1.81L719.743 5.26C719.303 4.98 718.643 4.73 717.763 4.51C716.883 4.27 715.933 4.15 714.913 4.15C713.953 4.15 713.213 4.34 712.693 4.72C712.193 5.1 711.943 5.61 711.943 6.25C711.943 6.85 712.173 7.35 712.633 7.75C713.113 8.15 713.703 8.52 714.403 8.86C715.123 9.2 715.893 9.55 716.713 9.91C717.553 10.27 718.323 10.71 719.023 11.23C719.743 11.73 720.333 12.36 720.793 13.12C721.273 13.86 721.513 14.79 721.513 15.91C721.513 17.03 721.323 18 720.943 18.82C720.583 19.62 720.063 20.29 719.383 20.83C718.723 21.37 717.913 21.77 716.953 22.03C716.013 22.29 714.973 22.42 713.833 22.42C712.333 22.42 711.013 22.28 709.873 22C708.733 21.72 707.893 21.44 707.353 21.16L708.673 17.65C708.893 17.77 709.173 17.9 709.513 18.04C709.873 18.18 710.273 18.31 710.713 18.43C711.153 18.55 711.613 18.65 712.093 18.73C712.593 18.81 713.103 18.85 713.623 18.85C714.843 18.85 715.773 18.65 716.413 18.25C717.073 17.83 717.403 17.2 717.403 16.36ZM739.641 13.21H731.961V22H727.851V0.999999H731.961V9.55H739.641V0.999999H743.751V22H739.641V13.21ZM761.342 17.35H754.892L753.302 22H749.192L756.752 0.849999H759.782L767.342 22H763.022L761.342 17.35ZM755.942 14.05H760.442L758.882 9.37L758.252 6.07H758.102L757.472 9.4L755.942 14.05ZM786.046 22H772.756V0.999999H776.866V18.34H786.046V22ZM798.454 17.35H792.004L790.414 22H786.304L793.864 0.849999H796.894L804.454 22H800.134L798.454 17.35ZM793.054 14.05H797.554L795.994 9.37L795.364 6.07H795.214L794.584 9.4L793.054 14.05ZM821.658 13.21H813.978V22H809.868V0.999999H813.978V9.55H821.658V0.999999H825.768V22H821.658V13.21Z" fill="white"/>
    </svg>
  </div>
  <div class="footer-info">
    <div class="footer-left border-test">
      <div class="sign-up-button">
      </div>
      <div class="contact-address">
        <h3>PRIYA PATEL</h3>
        <p>18 Cleveland Gardens,</p>
        <p>Worcester Park,</p>
        <p>Surrey</p>
        <p>KT4 7JJ</p>
      </div>
      <div class="contact-info">
        <p>+447450568232</p>
        <p>priya.patel@gmail.com</p>
      </div>
    </div>
    <div class="footer-mid border-test">
      <h3>FAQ</h3>
      <h3>CONTACT</h3>
      <h3>SIGN UP</h3>
      <h3>REGISTER FOR A CLASS</h3>
      
      <div class="footer">
        <div class="button">
          <div class="rectangle1" style="background: #028c91"></div>
          <div class="rectangle2" style="color: #028c91"><i class="fab fa-facebook-f logo-size"></i></div>
        </div>
        <div class="button">
          <div class="rectangle1" style="background: #f4d270"></div>
          <div class="rectangle2" style="color: #f4d270"><i class="fab fa-twitter logo-size"></i></i></div>
        </div>
        <div class="button">
          <div class="rectangle1" style="background: #faab85"></div>
          <div class="rectangle2" style="color: #faab85"><i class="fab fa-instagram logo-size"></i></div>
        </div>
        <div class="button">
          <div class="rectangle1" style="background: #f4d270"></div>
          <div class="rectangle2" style="color: #f4d270"><i class="fab fa-linkedin-in logo-size"></i></div>
        </div>
      </div>
      
    </div>
    <div class="footer-right border-test">
      <h3>DESIGNED BY MEEHIR PATEL</h3>
    </div>
  </div>
</div>