<div class="banner-colour">
  <div class="centering heading-height">
    <%= link_to root_path do %>
      <h1 id="title-size" style="color:white">SADHANA SHALA</h1>
    <% end %>
  </div>

  <div class="navbar-positioning navbar-items navbar-color navbar-alternative" >
    <%= render 'shared/navbar' %>
  </div>

</div>
<div class="page-breaker mb-3"></div>