
<div class="display-flex-box">
  <div class="banner-colour">
    <div class="centering heading-height">
      <h1 id="title-size" style="color:white">SADHANA SHALA</h1>
    </div>

    <div class="navbar-positioning navbar-items navbar-color navbar-alternative" >
      <%= render 'shared/navbar' %>
    </div>

  </div>
  <div class="page-breaker mb-3"></div>
</div>