
<div class="display-flex-box">
  <div class="centering heading-height">
    <h1 id="title-size">SADHANA SHALA</h1>
  </div>

  <div class="navbar-positioning navbar-items" >
    <%= render 'shared/navbar' %>
  </div>

  <div class="banner" style="background: linear-gradient(180deg, #FFFFFF 7.63%, rgba(255, 255, 255, 0.44) 43.23%, rgba(255, 255, 255, 0) 100%), url(https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2902&q=80);">
  </div>

  <div class="page-breaker">
  </div>

  <div class="breaker-heading breaker-text">
    <h2>LEARN YOGA Y'ALL</h2>
    <h2>
      <svg width="75" height="71" viewBox="0 0 75 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M65.3522 35.8849C65.3522 21.4665 53.0791 9.70703 37.8575 9.36954C37.8045 9.36247 37.7522 9.35398 37.6969 9.35398C37.6438 9.35398 37.5922 9.36105 37.5384 9.36176C37.4211 9.36035 37.3052 9.35327 37.1872 9.35327C21.6577 9.35327 9.02283 21.255 9.02283 35.8849C9.02283 50.5148 21.657 62.4165 37.1872 62.4165H37.1879H37.1886C52.7188 62.4158 65.3522 50.5141 65.3522 35.8849ZM11.2657 35.8849C11.2657 25.5425 18.1354 16.688 27.8018 13.1384C24.9812 15.6834 23.207 19.2888 23.207 23.2933C23.207 30.7943 29.662 36.9016 37.6139 36.9447C37.6416 36.9468 37.67 36.9476 37.6984 36.9476C44.453 36.9476 49.9484 42.1202 49.9484 48.4771C49.9484 54.7711 43.9859 60.2933 37.1894 60.2933C37.1887 60.2933 37.1886 60.2933 37.1879 60.2933C22.8946 60.294 11.2657 49.3438 11.2657 35.8849ZM47.7489 58.1679C50.4625 55.6173 52.1904 52.1611 52.1904 48.4778C52.1904 40.9761 45.7355 34.8696 37.7836 34.8264C37.7559 34.8243 37.7275 34.8236 37.6991 34.8236C30.9444 34.8236 25.4491 29.6517 25.4491 23.2947C25.4491 16.9392 30.9721 11.5692 37.5429 11.485C51.6733 11.6654 63.1101 22.5384 63.1101 35.8856C63.1101 45.8035 56.792 54.3523 47.7489 58.1679Z" fill="#028C91" fill-opacity="0.78"/>
        <path d="M41.7999 51.7409C41.7999 49.6113 39.9599 47.8786 37.6983 47.8779C35.4368 47.8779 33.5961 49.6106 33.5961 51.7409C33.5961 53.8761 35.4361 55.6124 37.6983 55.6124C39.9606 55.6124 41.7999 53.8761 41.7999 51.7409ZM35.8382 51.7409C35.8382 50.7815 36.673 50.0004 37.6976 50.0004C38.7237 50.0011 39.5578 50.7815 39.5578 51.7409C39.5578 52.7052 38.7237 53.4898 37.6983 53.4898C36.673 53.4898 35.8382 52.7052 35.8382 51.7409Z" fill="#028C91" fill-opacity="0.78"/>
        <path d="M37.6976 16.0704C35.4361 16.0704 33.5953 17.8059 33.5953 19.9383C33.5953 22.0736 35.4353 23.8098 37.6976 23.8098C39.9599 23.8098 41.7991 22.0729 41.7991 19.9383C41.7999 17.8052 39.9599 16.0704 37.6976 16.0704ZM37.6976 21.6873C36.6722 21.6873 35.8374 20.9026 35.8374 19.9383C35.8374 18.9761 36.6722 18.1929 37.6976 18.1929C38.723 18.1929 39.557 18.9754 39.557 19.9383C39.5578 20.9026 38.723 21.6873 37.6976 21.6873Z" fill="#028C91" fill-opacity="0.78"/>
      </svg>
    </h2>
  </div>

  <div class="mb-5">

  </div>


</div>
