.btn-home {
  background: $body-white;
  width: 159px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $teal;
  border-radius: 4px;
  a {
    text-decoration: none;
    color: $teal;
    font-size: 14px;
    font-family: $title-font;
    font-weight: 700;
  }
}
