.navbar-positioning {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-items a{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.12em;
  color: $pink;
}

