.card-container{
  display: flex;
  width: 90%;
  border: 1px solid red;
  height: 150vh;
}

.peace-sign svg{
  margin-top: -14px;
}

.left-container{
  border: 1px solid red;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tl-stack{
  border: 1px solid red;
  width: 98%;
  height: 43%;
  margin-bottom: 2%;
}

.bl-stack{
  border: 1px solid red;
  width: 98%;
  height: 55%;
}

.right-container{
  border: 1px solid red;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tr-stack{
  border: 1px solid red;
  height: 35%;
  width: 99%;
  margin-bottom: 1%;
}

.br-stack{
  border: 1px solid red;
  height: 63%;
  width: 99%;
}
